<div class="sign-up">
  <div class="mx-auto sign-up-box">
    <h2>アカウントを作成</h2>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :name, placeholder: "ユーザー名", class: "form-field" %>

      <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "form-field" %>

      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-field" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力", class: "form-field" %>

      <%= f.submit "アカウント作成", class: "btn btn-dark btn-lg rounded-pill col-12 create-btn" %>
    <% end %>

    <div class="create-btn">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>