<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    ルーム一覧
  </span>
</nav>

<div class="room-create-btn">
    <a class="circle">+</a>
    <a class="room-name" data-toggle="modal" data-target="#new_room" >ルーム作成</a>
</div>

<% rooms.each do |room| %>
<div class="user-list">
    <div style="margin-right:10px"><%= attachment_image_tag room, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></div>
    <div class="room-name"><%= link_to room.name, room_path(room.id) %></div>
</div>
<% end %>

<!-- モーダル -->
      <div class="modal" id="new_room" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ルーム作成</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group field">
                <%= form_with model: @room do |f| %>
                  <div class="form-inputs">
                    <div class="field">
                      <%= f.label :name, "ルーム名" %><br />
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-field" %>
                    </div>

                    <div class="field">
                      <%= f.label :image, "ルームアイコン" %><br />
                      <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "form-field" %>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <%= f.submit "入力完了", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>