<div class="container-fluid">
  <div class="row h-100">
    <div class="col-xl-2" style="padding:0 0 0 60px">
      <!-- ユーザー情報 -->
      <div class="mx-auto">
        <%= attachment_image_tag current_user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'120x120', class: "user-image" %>
        <p class="my_name">
          <%= current_user.name %><br />
          ID:<%= current_user.public_uid %>
        </p>
        <div class="list-group list-group-flush" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-edit" role="tab">ユーザー情報編集</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-events">予定一覧</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-follow">フォロー</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-follower">フォロワー</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-users">ユーザー検索</a>
        </div>
      </div>
    </div>

    <div class="col-xl-4 room_li" style="padding:0">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-edit"><%= render 'users/edit', user: @user %></div>
        <div class="tab-pane fade" id="list-events"><%= render 'users/event', events: @events %></div>
        <div class="tab-pane fade" id="list-follow"><%= render 'users/followings', followings: @followings %></div>
        <div class="tab-pane fade" id="list-follower"><%= render 'users/followers', followers: @followers %></div>
        <div class="tab-pane fade" id="list-users"><%= render 'users/users', users: @users %></div>
      </div>
    </div>

    <div class="col-xl-6">
      <h2>カレンダー</h2>
      <div id="calendar"></div>

      <!-- モーダル -->
      <div class="modal" id="new_event" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">イベント追加</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group field">
                <%= form_with(model: @event, remote: true) do |f| %>
                  <div class="form-inputs">
                    <div class="form-group">
                      <%= f.label :title, "予定", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :title, class: "form-control"%>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :start, "開始時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :start, class: "form-control input-start"%>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :end, "終了時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :end, class: "form-control input-end"%>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <%= f.submit "入力完了", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
