<div class="container-fluid"></div>
  <div class="row h-100">
    <div class="col-xl-2">
      <!-- ユーザー情報 -->
      <%= attachment_image_tag current_user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'120x120' %>
      <%= link_to "ユーザー情報編集", edit_user_path(@user), class: "btn btn-success" %>
    </div>

    <div class="col-xl-3 room_li">
      <h2>予定一覧</h2>
      <table class="table">
      <% @events.each do |event| %>
        <tr>
          <td><%= l event.start %> ~ <%= l event.end %></td>
          <td><%= event.title %></td>
          <td><%= link_to "削除", event_path(event), method: :delete %></td>
        </tr>
      <% end %>
      </table>
    </div>

    <div class="col-xl-7">
      <h2>カレンダー</h2>
      <div id="calendar"></div>

      <!-- モーダル -->
      <div class="modal" id="new_event" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">イベント追加</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group field">
                <%= form_with(model: @event, remote: true) do |f| %>
                  <div class="form-inputs">
                    <div class="form-group">
                      <%= f.label :title, "予定", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :title, class: "form-control"%>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :start, "開始時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :start, class: "form-control input-start"%>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :end, "終了時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :end, class: "form-control input-end"%>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <%= f.submit "入力完了", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
