<div class="room-page">
  <div class="left-boxx">
    <div class="user-list">
      <div class="room-name"><%= link_to " マイページへ戻る", user_path(current_user.id), class: "fas fa-chevron-left" %></div>
    </div>

    <div class="user-list">
      <div style="margin-right:10px"><%= attachment_image_tag @room, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></div>
      <div>
        <div class="room-name"><%= @room.name %></div>
      </div>
    </div>

    <% @room.users.each do |user| %>
      <div class="user-list">
        <div style="margin-right:10px"><%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></div>
        <div>
          <div class="user-info"><%= user.name %></div>
          <div style="color: #6e767d">ID:<%= user.public_uid %></div>
        </div>
      </div>
    <% end %>

    <div class="user-list">
      <div class="room-name"><%= link_to "ルーム編集", edit_room_path(@room.id) %></div>
    </div>
  </div>

  <div class="center-boxx">
    <%= form_with model: @chat do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
      <%= f.submit %>
    <% end %>

    <% @chats.each do |chat|%>
      <div class="chats">
        <div style="margin-right:10px"><%= attachment_image_tag chat.user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></div>
        <div>
          <div><%= chat.user.name %></div>
          <div><%= chat.message %></div>
        </div>
      </div>
    <% end %>
  </div>

<div class="right-boxx">
    <div class="plan-page" id="list-events">
        <%= render 'users/event', events: @events %>
      </div>
      <div id="calendar"></div>

      <!-- モーダル -->
      <div class="modal" id="new_event" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">イベント追加</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group field">
                <%= form_with(model: @event, remote: true) do |f| %>
                  <div class="form-inputs">
                    <div class="form-group">
                      <%= f.label :title, "予定", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :title, class: "form-control"%>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :start, "開始時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :start, class: "form-control input-start"%>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :end, "終了時間", class: "form-control-label"%>
                      <div class="input-group" data-target-input="nearest">
                        <%= f.text_field :end, class: "form-control input-end"%>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <%= f.hidden_field :room_id %>
                    <%= f.submit "入力完了", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>