<!DOCTYPE html>
<html>
  <head>
    <title>LINK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body data-turbolinks="false">
      <%= yield %>
    </body>
    <% if current_page?(root_path) %>
      <footer class="footer">
        <div class='container'>
          <p>2020 LINK</p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
