<!DOCTYPE html>
<html>
  <head>
    <title>LINK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path) %>
    <% elsif user_signed_in? %>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "LINK", user_path(current_user.id), class: 'navbar-brand' %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <span class="navbar-text ml-auto">ようこそ、<%= current_user.name %>さん！</span>
              <li><%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %></li>
              <li><%= link_to "ルーム", rooms_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% end %>
    <body data-turbolinks="false">
      <%= yield %>
    </body>
    <% if current_page?(root_path) %>
      <footer class="footer">
        <div class='container'>
          <p>Copyright © 2020 NaganoCake Inc. All Rights Reserved.</p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
